.header .header__logo { font: 0/0 a; text-shadow: none; color: transparent; }

* { margin: 0; padding: 0; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
button::-moz-focus-inner { padding: 0; border: 0; }

input[type="submit"]::-moz-focus-inner { padding: 0; border: 0; }

body { font-family: Georgia, serif; font-weight: normal; font-size: 12px; line-height: 1.4; }

a img, fieldset { border: none; }

body { background: url(../img/bg.jpg) no-repeat 50% 0; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }

.out { width: 890px; margin: 0 auto; padding-top: 100px; }

.header { overflow: hidden; margin-bottom: 40px; }
.header .header__logo { background: url('../img/icons-s4147bd4235.png') 0 0 no-repeat; width: 34px; height: 34px; float: left; margin-right: 43px; opacity: 0.4; cursor: pointer; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear; }
.header .header__logo:hover { opacity: 1; }

.nav { float: left; list-style: none; }
.nav li { float: left; position: relative; }
.nav li i { position: absolute; z-index: 2; left: 0; right: 0; bottom: 0; top: 0; opacity: 0; background: black; -webkit-transform: scale(0.1); -moz-transform: scale(0.1); -ms-transform: scale(0.1); -o-transform: scale(0.1); transform: scale(0.1); -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.nav li a { float: left; position: relative; z-index: 3; padding: 6px 27px; color: #999897; text-decoration: none; font-size: 16px; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; text-transform: lowercase; }
.nav li:hover a, .nav li.is-active a { color: white; }
.nav li:hover i, .nav li.is-active i { opacity: 1; -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }

.h1 { margin-left: 40px; font-weight: normal; font-family: Georgia, serif; font-size: 27px; color: #2e2626; }

.breadcrumbs { float: right; color: black; opacity: 0.4; text-align: right; font-size: 11px; position: relative; top: -15px; padding-bottom: 20px; }
.breadcrumbs a { text-decoration: none; color: #8d8c8b; }

.content { padding: 15px 30px 15px 40px; background: rgba(0, 0, 0, 0.1); margin-top: 20px; }

.subnav { overflow: hidden; margin-bottom: 44px; list-style: none; font-size: 17px; }
.subnav li { float: left; }
.subnav li:first-child a { opacity: 0.4; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.subnav li:first-child:hover, .subnav li:first-child.is-active { opacity: 1; }
.subnav a { float: left; opacity: 0.3; color: black; text-decoration: none; margin-right: 21px; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.subnav a:hover, .subnav a.is-active { opacity: 1; }

.gallery { list-style: none; width: 100%; display: inline-block; }
.gallery ul { list-style: none; }
.gallery li { float: left; margin: 0 14px 14px 0; }
.gallery a { float: left; padding: 6px; background: rgba(0, 0, 0, 0.1); position: relative; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.gallery a:hover { background: rgba(0, 0, 0, 0.2); }
.gallery a img { float: left; }
.gallery a i { background: rgba(204, 0, 0, 0.5); height: 24px; line-height: 24px; color: white; font-style: normal; padding: 0 20px; position: absolute; top: 6px; left: 0; }

.footer { height: 31px; text-align: center; line-height: 31px; background: #544e4e; }
.footer .footer__copy { display: inline-block; color: #908985; }
.footer .footer__copy a { color: #908985; }
.footer .footer__email { margin-left: 25px; }

.social { display: inline-block; padding-top: 4px; margin-left: 50px; vertical-align: top; }
.social a { display: inline-block; opacity: 0.7; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.social a:hover { opacity: 1; }
.social .social__fb { background: url('../img/icons-s4147bd4235.png') 0 -410px no-repeat; width: 16px; height: 20px; }
.social .social__li { background: url('../img/icons-s4147bd4235.png') 0 -350px no-repeat; width: 22px; height: 20px; }
.social .social__vk { background: url('../img/icons-s4147bd4235.png') 0 -380px no-repeat; width: 17px; height: 20px; }
.social .social__tw { background: url('../img/icons-s4147bd4235.png') 0 -74px no-repeat; width: 25px; height: 20px; }
.social .social__gp { background: url('../img/icons-s4147bd4235.png') 0 -44px no-repeat; width: 55px; height: 20px; }
